<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="shared.css">
    <link rel="stylesheet" type="text/css" href="member.css">
    <title>Document filler add</title>
</head>
<body>
    <!--member info page to be rendered unique for each member-->
    <header>
        <div id="name">
            8te Ventures Group: <span>member overview</span>
        </div>
    </header>

    <section id="section-1">
        <div>
            Member Name: <span class="b"><%= member_info.surname+ ' ' + member_info.firstname %></span> <br>
            Paid <span class="u b">
                <%= member_info.weeks_paid %>
            </span> weeks of <span class="u b">40</span>. <p>(currently at UGX 15000 per week)</p>
        </div>
    </section>
    
    <section id="section-2">
        <div>
            <h3>
                Outstanding loans:
            </h3>
            <table>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>interest</th>
                  <th>Balance</th>
                </tr>
                <% loans.forEach(loan => { %>
                    <tr>
                      <td><%= loans.t_date %></td>
                      <td><%= loans.amount %></td>
                      <td><%= loans.interest %></td>
                      <td><%= loans.balance %></td>
                    </tr>
                  <% }); %>
              </table> 

        </div>
    </section>

    <section id="section-3">
        <h3>Note:</h3>
        <ul>
            <li>Our next meeting is scheduled for 31/08/24.</li>
            <li>Weekly payments are set to UGX 15000 for dates earlier than 31/08/24. </li>
            <li>Weekly payments are set to UGX 20000 for dates later than 31/08/24. </li>
            <li>dates are in the 'dd/dd/yy' format.</li>
        </ul>
    </section>

</body>
</html>